html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}
html::-webkit-scrollbar{
    display: none;
}
.mani{
    width: 100%;
}
.header__container{
    background-image: url(img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 60%;
    position: relative;
}
.header{
    display: flex;
    align-items: center;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    height: 104px;
    background-color: rgba(0, 0, 0, 0.12);
    padding: 20px 50px;
}
.overplay__header{
    position: fixed;
    top:0;right:0;
    left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.12);
    display: none;
}
.header__logo{
    width: 160px;
}
.header__navbar-logo{
    padding: 0 25px 0 0px;
    margin-top: -8px;
}
.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
}
.header__navbar-list{
    display: flex;
    height: 100%;
    font-size: 1.4rem;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
}
.header__navbar-link{
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    letter-spacing: 2px;
}
.header__show-sidebar-icon{
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
}
.header__navbar-item{
    padding: 15px 3px;
    margin-right: 10px;
    position: relative;
}
.header__navbar-item--booknow .header__navbar-link{
   background-color: #ba71da;
   border-radius: 30px;
}
.header__dropper__list{
    position: absolute;
    top:100%;
    list-style-type: none;
    width: 190px;
    box-shadow: 0 0 8px rgb(243 233 233 / 90%);
    background-color: #fff;
    border-radius: 5px;
    display: none;
}
.header__navbar-item:hover .header__dropper__list{
    display: block;
    animation: dropdown-1 linear .3s;
}
@keyframes dropdown-1{
    from{
        opacity: 0;
        transform: translateY(-10%);
    }
    to{
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes dropdown-2{
    from{
        opacity: 0;
        transform: translateX(-10%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.dropdown-point-1::before{
    content: "";
    display: block;
    position: absolute;
    height: 30px;
    width: 200px;
    top:40px;
}
.dropper__item{
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    position: relative;
}
.dropper__item:hover .tour__list{
    display: block;
    animation: dropdown-2 linear .3s;
}
.dropper__item:hover,.tour__item:hover{
    background-color: rgb(238, 238, 238);
}
.dropdown-point-2::after{
    content: "";
    display: block;
    position: absolute;
    height: 200px;
    width: 30px;
    top:0;
    right: -15px;
}
.dropper__link{
    padding: 18px 25px;
    font-size: 1.4rem;
    color: #9a9a9a;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}
.link--hot{
   background-color: #ea6b75;
   color: #fff;
   font-size: 1.2rem;
   border-radius: 5px;
   padding: 2px 3px 2px 6px;
}
.link--best{
    background-color: #14b9d5;
}
.link--new{
    background-color: #1bbc9c;
}
.tour__list{
    position: absolute;
    left: calc(100% + 10px);
    top: 0%;
    list-style-type: none;
    width: 190px;
    box-shadow: 0 0 8px rgb(243 233 233 / 90%);
    background-color: #fff;
    border-radius: 5px;
    display: none;
}
.tour__item-link{
    padding: 18px 25px;
    font-size: 1.4rem;
    color: #9a9a9a;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}
.dropper__link-icon{
    position: absolute;
    top: 30%;
    right: 13%;
    font-size: 2rem;
}
/* Side bar */
.sidebar{
    width: 310px;
    position: absolute;
    z-index: 10;
    right: 0;
    top:0;
    background-color: #fff;
    max-height: 100vh;
    overflow-y: auto;
    margin-right: -100%;
}
@keyframes right-to-left{
    from{
        opacity: 0;
        transform:translateX(50%);
    }
    to{
        opacity: 1;
        transform: translateX(0%);
    }
}
.header__sidebar-icon{
    position: absolute;
    top:10px;
    right: 10px;
}
.icon--time{
    color: #9e9e9e;
    font-size: 3rem;
    cursor: pointer;
}
.input-sidebar:checked ~.sidebar{
    animation: right-to-left linear .3s;
    margin: 0;
}
.sidebar::-webkit-scrollbar{
    display: none;
}
.sidebar__content{
    font-size: 1.6rem;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.sidebar__heading{
    margin-bottom: 42px;
    
}
.sidebar__heading-1,.sidebar__heading-2{
    text-align: center;
}
.sidebar__heading-1{
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 2rem;
    color: #9a9a9a;
}
.sidebar__heading-2{
    font-size: 2.5rem;
    font-weight: 700;
    color: #55595d;
    position: relative; 
}
.sidebar__heading-2::after{
    position: absolute;
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    
    background-color: #f2ce34;
}
.sidebar__item-img{
    width: 100px;
    margin-right: 25px;
    overflow:hidden
}
.sidebar__item-img img{
    width: 100%;
    height: auto;
    object-fit: cover;border-radius: 10px;
}
.sidebar__item{
    display: flex;
    margin-bottom: 30px;
}
.sidebar__item-infor{
    flex: 1;
}
.sidebar__item-infor h3{
    font-size: 2rem;
    margin: 0 0 6px;
    font-weight: 400;
    color: #555;
    margin-bottom: 14px;
    max-width: 90px;
}
.sidebar__item-infor h5{
    font-size: 1.5rem;
    color: #9a9a9a;
    margin-bottom: 24px;
}
.sidebar__icon{
    color: #9a9a9a;
    margin-right: 4px;
}
.sidebar__item-btn{
    display: block;
    text-decoration:none;
    color: #fff;
    font-size: 1.5rem;
    background: linear-gradient(to right, #ffce05, #ffa004);
    width: 100%;
    padding: 8px 20px;
    border-radius: 30px;    
    cursor: pointer;
    text-align: center;
}
.sidebar__hightlight{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(img/whitehouse.jpg);
    border-radius: 3px;
    height: 264px;
    overflow: hidden;
    position: relative;
    margin-top: 58px;
    margin-bottom: 45px ;
}
.siderbar__hightlight-infor{
    position: absolute;
    bottom: 28px;
    left: 28px;
    
}
.overplay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.2);
}
.siderbar__hightlight-infor h3{
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 10px;
}
.siderbar__hightlight-infor h4{
    color: #fff;    
    font-size: 1.8rem;
    letter-spacing: 2px;
}
.overplay--hover{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 100;
    background-color: #14b9d5;
    padding: 40px 30px;
    text-align: center;
    display: none;
}

.overplay--hover > p,.overplay__location{
    margin-bottom: 30px;
    color: #fff;
    font-weight: lighter;
}
.overplay--hover > p{
    font-size: 2rem;
   
    font-weight: 700;
}
@keyframes ap {
    from{
        opacity: 0;
    }
    to{
        opacity: 1
    };
}
.overplay__location p{
    margin-bottom: 10px;
}
.overplay__btn{
    text-decoration: none;
    display: block;
    padding: 8px 10px;
    color: #14b9d5;
    background-color: #fff;
    border-radius: 30px;
}
.overplay{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.15);
}
.overplay:hover .overplay--hover{
    display: block;
    animation: ap ease-in-out .3s;
    cursor: pointer;
}
.search__box-heading-1{
    font-size: 5rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 30px;
}
.search__box-heading-2{
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    letter-spacing: 3px;
    margin-bottom: 50px;

}
.search__box{
    position: absolute;
    left: 50%;
    top:40%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}
.search__select-list{
    width: 30%;
    height: 36px;
    border-radius: 30px;
}
.search__select-box{
    position: relative;
}
.search-select__submit-icon{
    padding: 10px 0;

}
.search__select-list{
    color:#a3a3a3;
    padding: 0 16px;
}
.search-select__submit{
    display: block;
    height: 33px;
    background-color: #fff;
    position: absolute;
    right: 35%;
    top:50%;
    transform: translateY(-50%);
    color: #000;
    font-size: 1.6rem;
    padding: 0 16px;
    border-radius: 30px;
}
.search__section-link{
    display: block;
    margin-top: 60px;
    background: rgba(0, 0, 0, 0.3);
    padding: 18px 36px;;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
}
.search__section-img{
    width: 40px;
    margin-bottom: 16px;
}
.search__section-link-list{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

/* Content */

.content__heading{
    margin: 55px 0;
    text-align: center;
}
.content__heading-1{
    color: #9a9a9a;
    font-size: 1.4rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 20px;
}
.content__heading-2{
    font-size: 3.5rem;
    color: #555;
    font-weight: 800;
}
.content__item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content__body-item{
    position: relative;
    border-radius: 10px;
    overflow:hidden;
}
.content__body-item-info{
    position:absolute;
    left: 34px;
    bottom: 30px;
    z-index: 1;
}
.content__body-item-info h3{
    font-size: 2rem;
    color: #fff;
    font-weight: 700;
    margin-bottom: 20px;
}

.content__body-item-info h5{
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 2px;
    
}
.content__body-item-overplay{
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    
}
.overplay__wrap{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
}
.overplay__wrap>p{
    
    font-size: 2rem;
    color: #fff;
    font-weight: 800;
    margin-bottom: 30px;
}
.content__body-item-overplay__location p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
}
.content__body-item-overplay__btn{
    margin-top: 30px;
}
.content__body-item-overplay--hover{
    position: absolute;
    top: 0;right: 0;left: 0;bottom: 0;
    background-color: #14b9d5;
    z-index: 100;
    display: none;
}
.content__body-item-overplay:hover .content__body-item-overplay--hover{
    display: block;
    cursor: pointer;
    animation: ap linear .4s;
}
.content__body-item-overplay__btn{
    width: 180px;
    display: block;
    padding: 10px 24px;
    background-color: #fff;
    color: #14b9d5;
    text-align: center;
    text-decoration: none;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    font-size: 1.3rem;
}
.margin-b{
    margin-bottom: 24px;
}
.banner{
    background-image: url(img/bridge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20%;
    margin: 48px 0;
    position: relative;
   
}
.banner__box{
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 50%;
    top:50%;
    width: 100%;
    transform: translate(-50%,-50%);
}
.banner-heading{
    font-size: 5rem;
    color: #fff;
}
.banner-view{
    font-size: 1.4rem;
    text-decoration: none;
    color: red;
    display: block;
    background-color: #fff;
    margin-left: 140px;
    padding:13px 16px;
    text-align: center;
    width: 240px;
    border-radius: 30px;
}
/* about */

.about__content-heading h5{
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 16px;
}
.about__content-heading h2{
    font-size: 3.6rem;
    margin: 0 0 24px;
    color: #555;
    font-weight: 700;
}
.about__content-text{
    font-size: 1.4rem;
    line-height: 2;
    letter-spacing: 1px;
    margin: 0px 0 30px;
    color: #9a9a9a;
}
.about__content-price .price--old{
    font-size: 2.5rem;
    text-decoration: line-through;
    margin-right: 5px;
    color: #9a9a9a;
}
.about__content-price .price--new{
    font-size: 3rem;
    
}
.about__content-price{
    font-size: 1.6rem;
}
.about__content-btn{
    display: block;
    margin-top: 32px;
    text-decoration: none;
    color: #fff;
    background-color: #1bbc9b;
    letter-spacing: 3px;
    text-align: center;
    padding: 12px 8px;
    font-size: 1.5rem;
    width: 180px;
    border-radius: 20px;
}
/* slider */
.slider{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(img/1.jpg);
    padding-top: 50%;
    position: relative;
}
.time-line {
    
    position: absolute;
    width: 65%;
    height: 116px;
    background-color: #14b9d5;
    left: 50%;
    transform: translateX(-50%);
    top: calc(100% - 58px);
    border-radius: 3px;
}
.time-box .time-number{
    font-size: 3.5rem;
    color: #fff;
    font-weight: 400;
    margin-bottom: 1rem;
}
.time-box .time-day{
    font-size: 1.4rem;
    color: #fff;
}
.time-box{
    text-align: center;
   
}
.time--sep{
    font-size: 6rem;
    color: #12b0cb;
}
.time-line{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.travel{
    margin: 85px 0 80px;
    display: flex;
}
.travel__img{ 
    margin-right: 30px;
}
.travel__img img{
    
    width: 50px;
    height: 50px;
}
.travel__heading{
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: #555;
    margin: 0;
    font-weight: 800;
}
.travel__text{
    font-size: 1.4rem;
    color: #9a9a9a;
    line-height: 1.8;
    margin: 20px 0;
    letter-spacing: 1px;
}
.travel__view{
    text-decoration: none;
    color: #12b0cb;
    font-size: 1.6rem;
}
.discover-1{
    background-image: url(img/cong.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 269px;
    position: relative;
    text-align: center;
}
.discover-2{
    background-image: url(img/rung.jpg)
}
.dicover__info{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.dicover__info h5{
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 2px;
}
.dicover__info h3{
    font-size: 3.6rem;
    font-weight: 700;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 40px;
}
.discover__btn{
    display: block;
    font-size: 2rem;
    text-decoration: none;
    color: #d2b08e;
    letter-spacing: 2px;
    background-color: #fff;
    max-width: 136px;
    margin: 0 auto;
    padding: 10px ;
    border-radius: 20px ;
}
.trip__box{
    border: 1px solid #f1f1f1;
}
.trip__img{
    width: 100%;
}
.trip__img img{
    width: 100%;
    object-fit: cover;
}
.trip__body{
    padding: 32px;
}
.trip__heading h5{
    font-size: 2rem;
    color: #555;
    margin: 0;
    margin-bottom: 15px;
}
.trip__heading p{
    font-size: 1.5rem;
    color: #9a9a9a;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
}
.trip__heading p > span{
    margin-right: 5px;
}
.trip__price{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #f1f1f1;
}
.trip__price .trip__price-info{
    font-size: 1.4rem;
    color: #9a9a9a;

}
.trip__price-info h2{
    margin-bottom: 10px;
}
.trip--add{
    padding: 2px 8px;
    
    border-radius: 20px;
    font-size: 1.2rem;
    color: #fff;
    margin-left: 5px;
}

.trip__price-number p{
    font-size: 2.5rem;
    color: #555;
    font-weight: 700;
}
.trip__decres{
    padding: 20px 0px;
    color:#9a9a9a;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 1.8;
}
.trip__btn{
    display: block;
    background-color: #ffd205;
    width: 98px;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
}
.trip--add--yellow{
    background-color: #ffd205;
}
.trip--add--red{
    background-color:#f26b6a;
}
.trip--add--purple{
    background-color:  #b970d9;
}
.footer{
    background-image: url(img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    
    padding-top:30%;
}
.footer__text{
    position: absolute;
    color: rgb(102, 95, 95);
    font-size: 3rem;
    left:20%;
    top:10%;
    transform: translateX(-50%);
    letter-spacing: 3px;
}

/*  */
.navbar__mobile-tablet{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mobile__menu{
    height: 100%;
    z-index: 1000;
    overflow-y: auto;
    background-color: #555;
    position: fixed;
    top:0;
    right: 0;
    width: 90%;
    padding: 32px;
    margin-right: -100%;
}
.show-sidebar-2-input:checked ~.mobile__menu{
    animation: right-to-left linear .3s;
    margin: 0;
}
.show-sidebar-2-input:checked ~.overplay__header{
    display: block;
    animation: ap linear .3s;
    
}
.mobile__menu-heading-1,.mobile__menu-heading{
    display: block;
    font-size: 2.5rem;
    color: #ffff;
    text-decoration: none;
    font-weight: 700;
    margin-bottom: 16px;
}
.mobile__menu-heading-1{
    margin-bottom: 26px;
}
.mobile__menu-link{
    display: block;
    color: #fff;
    text-decoration: none;
}
.mobile__menu--child{
    padding-top: 16px;
}
.mobile__menu-list,.mobile__menu--child{
    padding: 0 26px;
    font-size: 2rem;
}
.mobile__menu--child{
    padding-top: 16px;
}
.mobile__menu-item{
    padding: 16px 0px;
}
.navbar__mobile-tablet{
    display: none;
}